table {
    border-collapse: collapse;
    border: 3px solid rgb(90, 90, 249);
    font-size: 20px;
    text-align: center;
}

th,
td {
    border: 1px solid rgb(90, 90, 249);
    padding: 5px;
}

.title {
    color: #fff;
    background-color: rgb(3, 220, 220);
}


.green-row {
    background-color: greenyellow;
}

.anti-row {
    background-color: antiquewhite;
}

#usd {
    background-color: orange;
}